@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Lumanosimo&family=Manrope:wght@200&display=swap");
.banner-01 {
  background-image: url(../img/streetfood\ 1.jpg);
  background-size: cover;
  padding-top: 450px;
  padding-bottom: 450px;
  background-color: #545555;
  background-blend-mode: multiply;
  opacity: 0.9;
}

.banner-02 {
  background-image: url(../img/food\ truck\ 2.jpeg);
  background-size: cover;
  padding-top: 450px;
  padding-bottom: 450px;
  background-color: #545555;
  background-blend-mode: multiply;
  opacity: 0.9;
}

.banner-03 {
  background-image: url(../img/takoyakis.jpg);
  background-size: cover;
  padding-top: 450px;
  padding-bottom: 450px;
  background-color: #545555;
  background-blend-mode: multiply;
  opacity: 0.9;
}

.banner-04 {
  background-image: url(../img/food\ stucks\ 1.jpg);
  background-size: cover;
  padding-top: 450px;
  padding-bottom: 450px;
  background-color: #545555;
  background-blend-mode: multiply;
  opacity: 0.9;
}

header .carousel-img-size {
  width: auto;
  max-height: 100vh;
}
header .carousel-inner .carousel-item {
  background-blend-mode: multiply;
  background-color: #545555;
}
header .carousel-inner .carousel-item img {
  opacity: 0.5;
}
header .social-media {
  position: absolute;
  top: 0%;
  left: 1%;
  text-align: center;
  transform: translate(50%, 50%);
}
header i {
  margin: 15px;
}
header .logo-index {
  position: absolute;
  top: 18%;
  left: 51%;
  text-align: center;
  transform: translate(-50%, -50%);
}
header .logo {
  position: absolute;
  top: 18%;
  left: 51%;
  text-align: center;
  transform: translate(-50%, -50%);
}
header .slogan {
  font-size: 30px;
  font-weight: bold;
  color: white;
}
header .nav-menu {
  position: absolute;
  top: 85%;
  right: 45%;
  transform: translate(40%, -90%);
}
header li {
  margin: 20px;
  list-style-type: none;
}
header li a {
  text-decoration: none;
  list-style-type: none;
  color: white;
  font-size: 55px;
}
header li a:hover {
  color: #ffa51f;
}
header .img-logo-pulpo {
  width: 50px;
  height: 50px;
  margin-right: 190px;
}
header .navbar {
  position: absolte;
  width: 10%;
  height: 50%;
}

main p {
  color: rgba(255, 255, 255, 0.6);
}
main h3 {
  font-size: 25px;
  color: #ec8e00;
  margin-top: 40px;
}
main .background-adj {
  background-image: url(../img/background\ black.avif);
  background-attachment: fixed;
  color: white;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;
}
main .background-adj-salad {
  background-image: url(../img/salad.jpg);
  background-attachment: fixed;
  background-size: cover;
  height: 250px;
}
main .background-adj-sushi {
  background-image: url(../img/sushi\ menu.jpg);
  background-attachment: fixed;
  background-size: cover;
  height: 250px;
}
main .background-adj-batidos {
  background-image: url(../img/batidos\ menu.jpeg);
  background-attachment: fixed;
  background-size: cover;
  height: 250px;
}
main .background-adj-cocktails {
  background-image: url(../img/cocktail\ menu.webp);
  background-attachment: fixed;
  background-size: cover;
  height: 250px;
}
main .imagenGaleria {
  margin: 0;
  padding: 0;
  height: auto;
  filter: grayscale(50%);
}
main .imagenGaleria:hover {
  filter: grayscale(0%);
}
main .galeria-container {
  overflow: hidden;
  margin: 0 auto;
}
main .contenedor-paladar {
  padding-top: 50px;
  display: flex;
  align-items: center;
}
main .contenedor-paladar .img-paladar {
  width: 100%;
  height: 100%;
  padding: 30px;
}
main .contenedor-bar {
  padding-top: 50px;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
}
main .contenedor-bar .img-bar {
  width: 100%;
  height: 100%;
  padding: 30px;
}
main .contenedor-eventos {
  padding-top: 50px;
  display: flex;
  align-items: center;
}
main .contenedor-eventos .img-eventos {
  width: 100%;
  height: 100%;
  padding: 30px;
}
main .menu-entradas {
  margin: 50px;
  gap: 30px;
  display: flex;
  align-items: center;
  text-align: left;
}
main .allMenu {
  padding-bottom: 50px;
}
main .allEnsaladas {
  padding-top: 50px;
  padding-bottom: 50px;
}
main .menuEnsaladas {
  padding-bottom: 50px;
}
main .allRollos {
  padding-top: 50px;
}
main .menuRollos {
  margin: 50px;
  gap: 30px;
  display: flex;
  align-items: center;
  text-align: left;
}

.contenedorComidas {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
  gap: 60px;
  margin: 3rem 0;
}

.producto {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background: #363953;
  border-radius: 5px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.productoImagen {
  width: 100%;
  height: 200px;
  object-fit: contain;
  border-radius: 5px;
  margin-bottom: 20px;
}

.productoTitulo {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
}

.productoDescripcion {
  font-size: 16px;
  text-align: center;
  margin-bottom: 20px;
}

.productoPrecio {
  font-size: 26px;
  font-weight: bold;
  color: #ffa51f;
  text-align: center;
}

.productoBTN {
  display: inline-block;
  padding: 10px 20px;
  background-color: #ec8e00;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 15px;
  border: none;
}

.map-form {
  display: flex;
  flex-direction: column;
  color: #fff;
  justify-content: center;
  margin-top: 50px;
}

.contact-container {
  max-width: 960px;
  margin: auto;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
  background: #363953;
  box-shadow: 0 0 1rem hsl(0, 0%, 0%);
  border-radius: 0.5rem;
  overflow: hidden;
}

.form-container {
  padding: 20px;
}

.form-container h3 {
  margin-bottom: 1rem;
  font-weight: 600;
}

.contact-form {
  display: grid;
  row-gap: 25px;
}

.contact-form input, .contact-form textarea {
  width: 100%;
  border: none;
  outline: none;
  background: #2c2f48;
  padding: 10px;
  font-size: 0.9rem;
  color: #fff;
  border-radius: 0.4rem;
}

.contact-form textarea {
  resize: none;
  height: 200px;
}

.contact-form .enviar-btn {
  border: none;
  outline: none;
  background: #ffa51f;
  font-size: 1rem;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
}

.contact-form .enviar-btn:hover {
  background: #ec8e00;
  transition: 0.3s all linear;
}

.map iframe {
  width: 100%;
  height: 100%;
}

@media (max-width: 1500px) {
  .nav-menu {
    display: none;
  }
  .contenedor-paladar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .contenedor-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .contenedor-eventos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media (min-width: 1500px) {
  .navbar {
    display: none;
  }
}
@media (max-width: 964px) {
  .navbar {
    width: 10px;
    height: 10px;
  }
  .logo-index {
    display: none;
  }
  .contact-container {
    margin: 0 auto;
    width: 90%;
  }
  .contenedor-eventos {
    margin: 0 auto;
    width: 90%;
  }
}
@media (max-width: 800px) {
  .logo {
    height: 0px;
  }
  .logo-img {
    margin-top: 100px;
    width: 325px;
  }
}
@media (max-width: 700px) {
  .contact-container {
    grid-template-columns: 1fr;
    gap: 1rem;
    margin-top: 20rem !important;
  }
  .map iframe {
    height: 400px;
  }
}

/*# sourceMappingURL=style.css.map */
