.banner-01 {
    background-image: url(../img/streetfood\ 1.jpg);
    background-size: cover;
    padding-top: 450px;
    padding-bottom: 450px;    
    background-color: #545555;
    background-blend-mode: multiply;
    opacity: 0.9;
}

.banner-02 {
    background-image: url(../img/food\ truck\ 2.jpeg);
    background-size: cover;
    padding-top: 450px;
    padding-bottom: 450px;    
    background-color: #545555;
    background-blend-mode: multiply;
    opacity: 0.9;
}

.banner-03 {
    background-image: url(../img/takoyakis.jpg);
    background-size: cover;
    padding-top: 450px;
    padding-bottom: 450px;
    background-color: #545555;
    background-blend-mode: multiply;
    opacity: 0.9;
}

.banner-04 {
    background-image: url(../img/food\ stucks\ 1.jpg);
    background-size: cover;
    padding-top: 450px;
    padding-bottom: 450px;
    background-color: #545555;
    background-blend-mode: multiply;
    opacity: 0.9;
}