.map-form {
    display: flex;
    flex-direction: column;
    color: #fff;
    justify-content: center;
    margin-top: 50px;
}

.contact-container{
    max-width: 960px;
    margin: auto;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
    background: #363953;
    box-shadow: 0 0 1rem hsla(0, 0, 0 / 16%);
    border-radius: 0.5rem;
    overflow: hidden;
}

.form-container {
    padding: 20px;
}

.form-container h3 {
    margin-bottom: 1rem;
    font-weight: 600;
}

.contact-form {
    display: grid;
    row-gap: 25px;
}

.contact-form input, .contact-form textarea{
    width: 100%;
    border: none;
    outline: none;
    background: #2c2f48;
    padding: 10px;
    font-size: 0.9rem;
    color: #fff;
    border-radius: 0.4rem;
}

.contact-form textarea {
    resize: none;
    height: 200px;
}

.contact-form .enviar-btn {
    border: none;
    outline: none;
    background: $color-botones;
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
}

.contact-form .enviar-btn:hover {
    background: $color-botones-secundarios;
    transition: 0.3s all linear;
}

.map iframe {
    width: 100%;
    height: 100%;
}