<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Pregunta y reserva tu mesa">
    <title>TAKOPON-La mejor cocina Mexico-Oriente</title>
    <link rel="shortcut icon" href="../img/Logo.png">
    <!-- CSS BS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <!-- BS ICONS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <!-- FA ICONS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- CSS -->
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>
    <header>
        <div class="banner-04">
            <div class="social-media">
                <a href="https://es-la.facebook.com/" target="_blank">
                    <i class="bi bi-facebook" style="font-size: 1.5rem"></i>
                </a>
                <a href="https://www.instagram.com/" target="_blank">
                    <i class="bi bi-instagram" style="font-size: 1.5rem; color: rgb(231, 96, 231);"></i>
                </a>
                <a href="https://www.tripadvisor.com.mx/" target="_blank">
                    <i class="fa fa-tripadvisor" style="font-size: 1.5rem; color: green;"></i>
                </a>
            </div>

            <div class="logo">
                <img class="logo-img" src="../img/logo 3.png" alt="neon wok">
                <p class="slogan">Compartiendo sabores</p>
            </div>
        </div>

        <nav class="navbar fixed-top">
            <div class="container-fluid">
                <button class="navbar-toggler navbar-light bg-light" type="button" data-bs-toggle="offcanvas"
                    data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar"
                    aria-labelledby="offcanvasNavbarLabel">
                    <div class="offcanvas-header">
                        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">TAKOPON</h5>
                        <img class="img-logo-pulpo" src="../img/Logo.png" alt="pulpo">
                        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body">
                        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="../index.html">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="nosotros.html">Nosotros</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="menu.html">Menu</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="tienda.html">Tienda</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="contactanos.html">Contactanos</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>

        <div class="nav-menu">
            <nav>
                <ul>
                    <li><a href="../index.html">Home</a></li>
                    <li><a href="nosotros.html">Nosotros</a></li>
                    <li><a href="menu.html">Menu</a></li>
                    <li><a href="tienda.html">Tienda</a></li>
                    <li><a href="contactanos.html">Contactanos</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <main>
        <section class="background-adj">
            <h1>
                Mandanos un mensaje
            </h1>
            <section class="map-form">
                <div class="contact-container">
                    <div class="form-container">
                        <form action="" class="contact-form">
                            <input type="text" placeholder="Nombre" required>
                            <input type="email" name="" id="" placeholder="Ingresa tu mail" required>
                            <textarea name="" id="" cols="30" rows="10" placeholder="Escribe un mensaje aqui...."
                                required></textarea>
                            <input type="submit" value="Enviar" class="enviar-btn">
                        </form>
                    </div>
                    <div class="map">
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d230607.24823987475!2d-101.14803477984125!3d25.43029697430469!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x86880d9078df19ef%3A0xa9519241794730c0!2sSaltillo%2C%20Coah.!5e0!3m2!1ses-419!2smx!4v1692486145929!5m2!1ses-419!2smx"
                            width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                </div>
            </section>
        </section>
    </main>

    <div class="container">
        <footer class="py-3 my-4">
            <ul class="nav justify-content-center border-bottom pb-3 mb-3">
                <li class="nav-item"><a href="../view/home.html" class="nav-link px-2 text-body-secondary">Home</a></li>
                <li class="nav-item"><a href="nosotros.html" class="nav-link px-2 text-body-secondary">Nosotros</a></li>
                <li class="nav-item"><a href="menu.html" class="nav-link px-2 text-body-secondary">Menu</a></li>
                <li class="nav-item"><a href="tienda.html" class="nav-link px-2 text-body-secondary">Tienda</a></li>
                <li class="nav-item"><a href="contactanos.html"
                        class="nav-link px-2 text-body-secondary">Contactanos</a></li>
            </ul>
            <p class="text-center text-body-secondary">&copy; 2023 TAKOPON, Inc</p>
        </footer>
    </div>
    <!-- BS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
</body>

</html>