<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Conoce nuestro menu variado">
    <meta name="keywords" content="HTML, JS, BS, META, CSS, SCSS, SASS, JAPAN, KOREAN, CHINA, FOOD">
    <title>TAKOPON-La mejor cocina Mexico-Oriente</title>
    <link rel="shortcut icon" href="../img/Logo.png">
    <!-- CSS BS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <!-- BS ICONS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <!-- FA ICONS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- CSS -->
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>
    <header>
        <div class="banner-02">
            <div class="social-media">
                <a href="https://es-la.facebook.com/" target="_blank">
                    <i class="bi bi-facebook" style="font-size: 1.5rem"></i>
                </a>
                <a href="https://www.instagram.com/" target="_blank">
                    <i class="bi bi-instagram" style="font-size: 1.5rem; color: rgb(231, 96, 231);"></i>
                </a>
                <a href="https://www.tripadvisor.com.mx/" target="_blank">
                    <i class="fa fa-tripadvisor" style="font-size: 1.5rem; color: green;"></i>
                </a>
            </div>

            <div class="logo">
                <img class="logo-img" src="../img/logo 3.png" alt="neon wok">
                <p class="slogan">Compartiendo sabores</p>
            </div>
        </div>

        <nav class="navbar fixed-top">
            <div class="container-fluid">
                <button class="navbar-toggler navbar-light bg-light" type="button" data-bs-toggle="offcanvas"
                    data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar"
                    aria-labelledby="offcanvasNavbarLabel">
                    <div class="offcanvas-header">
                        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">TAKOPON</h5>
                        <img class="img-logo-pulpo" src="../img/Logo.png" alt="pulpo">
                        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body">
                        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="../index.html">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="nosotros.html">Nosotros</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="menu.html">Menu</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="tienda.html">Tienda</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="contactanos.html">Contactanos</a>
                            </li>
                        </ul>

                    </div>
                </div>
            </div>
        </nav>

        <div class="nav-menu">
            <nav>
                <ul>
                    <li><a href="../index.html">Home</a></li>
                    <li><a href="nosotros.html">Nosotros</a></li>
                    <li><a href="menu.html">Menu</a></li>
                    <li><a href="tienda.html">Tienda</a></li>
                    <li><a href="contactanos.html">Contactanos</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <main>
        <section class="background-adj">

            <div class="allMenu">
                <h1>Menu</h1>
            </div>

            <div class="menu-entradas">
                <div>
                    <h2>Edamames</h2>
                    <p>Frijol de Soya al vapor con sal gruesa de nar | Ponzu y togarashi</p>
                    <h2>El Desorden: 280grs.</h2>
                    <p>Wagyu americano y papas galeana a la robata con mantequilla de guajillo, salsa de aguacate y
                        aderezo
                        mayo ajo.</p>
                    <h2>Tempura Yasai 300grs.</h2>
                    <p>Mix de verduras (brócoli, zanahoriah2, calabaza, cebolla y aguacate).</p>
                    <h2>Gyozas al Vapor 5 pz</h2>
                    <p>Empanadas japonesas rellenas de una mezcla de carne de cerdo, col, cebollín, jengibre y
                        aceite de
                        ajonjolí; bañadas en salsa de la casa a base de soya y aceite de ajonjolí picante. Encima,
                        un
                        toque
                        de cacahuate tostado.</p>
                    <h2>Nigiris Wagyu 6 pz.</h2>
                    <p>Wagyu americano montado sobre arroz, al vapor con mayonesa de limón.</p>
                </div>
                <div>
                    <h2>Sashimi Ponzu Serrano 100grs.</h2>
                    <p>Pescado laminado a elegir con sala ponzy y serrano. Atún | $219 Salmón | $219 Albacore | $249
                        Hamachi
                        |$298 </p>
                    <h2>Trilogía de Temakis 3 pz.</h2>
                    <p>Conos a base de alga y arroz. - Chicharrón de piel de salmón spicy. - Spicy tuna (mayonesa
                        spicy,
                        atún, y aguacate). - Serrano, brócoli al tempura, queso crema y salsa de anguila. </p>
                    <h2>Camarones Roca</h2>
                    <p>Preparados al Tempura con aderezo mayo spicy y un toque de ajonjolí</p>
                    <h2>Kushiages 4 pz. </h2>
                    <p>Dedos de queso manchego empanizados.</p>
                    <h2>Tempura Moriawase 370grs.</h2>
                    <p>Camarón y mix de verduras (brócoli, zanahoria, calabaza, cebolla y aguacate).</p>
                </div>
            </div>

            <section class="background-adj-salad"></section>

            <div class="allEnsaladas">
                <h2>Ensaladas</h2>
            </div>

            <div class="menuEnsaladas">
                <h2>Rollos de Betabel 8 pz.</h2>
                <p>Hojas de arroz rellenas de aguacate, pepino, lechuga, betabel, kanikama y camarón, acompañado
                    de
                    una vinagreta Matsumoto. </p>
                <h2>Sunomono Especial 210grs.</h2>
                <p>Ensalada de pepino, camarón, pulpo, aderezo especial y ajonjolí.</p>
                <h2>Sunomono 180grs.</h2>
                <p>Ensalada de pepino, kanikama, aderezo especial y ajonjolí.</p>
                <h2>Ensalada Midori 220grs.</h2>
                <p>Ensalada de lechuga kale con camarón empanizado, masago, kanikama, aguacate, mayo limón,
                    ajonjolí
                    y un toque de salsa de anguila.</p>
            </div>

            <section class="background-adj-sushi"></section>

            <div class="allRollos">
                <h2>Rollos Frios</h2>
            </div>

            <div class="menuRollos">
                <div>
                    <h2>Filadelfia Roll 8 pz</h2>
                    <p>Arroz por fuera, relleno de aguacate, pepino, y queso crema. Camarón | $124 Atún | $124
                        Salmón |
                        $124 Hamachi </p>
                    <h2>Tokio Roll 8 pz.</h2>
                    <p>Arroz por fuera cubierto de salmón, queso crema, relleno de camarón, aguacate y pepino.</p>
                    <h2>Osaka Roll 10pz.</h2>
                    <p>Arroz por fuera relleno de pepino, aguacate, queso crema, camarón tempura y puntos mayo
                        masago.
                    </p>
                    <h2>Hikaria Roll 8pz.</h2>
                    <p>Arroz por fuera cubierto de chispas tempura, relleno de aguacate, queso crema, pepino,
                        lechuga
                        italiana y bañada de un poco de salsa de anguila y ajonjolí.</p>
                    <h2>Suki Roll </h2>
                    <p>Arroz por fuera cubierto de atún, relleno de aguacate, coronado con una mezcla de atún,
                        mayonesa
                        japonesas y un toque de aceite de ajonjolí picante, encima un poco de mayo spicy y cebollín.
                    </p>
                </div>
                <div>
                    <h2>Rainbow Roll 8 pz</h2>
                    <p>Arroz por fuera cubierto de láminas de hamachi, aguacate, salmón, atún relleno de ensalada
                        Tampico y aguacate.</p>
                    <h2>Spicy Roll 8 pz.</h2>
                    <p>Arroz por fuera, alga nori, mayo spicy y cebollín. Atún | $124 Salmón | $124 Hamachi | $198
                    </p>
                    <h2>Maguro Roll 8pz.</h2>
                    <p>Arroz por fuera, forrado de atún con queso crema, relleno de aguacate y pepino.</p>
                    <h2>Samurai Roll 10pz.</h2>
                    <p>Arroz por fuera, cubierto de queso crema aguacate, relleno de camarón empanizado o relleno de
                        atún fresco, pepino kanikama. Coronado con mayo spicy, chispas tempura, salsa de anguila,
                        ajonjolí y masago. Camarón empanizado | $189 Atún | $189 </p>
                    <h2>Kani Roll 8pz.</h2>
                    <p>Arroz por fuera de una hoja de zanahoria y cebolla capeada, relleno de aguacate, queso crema,
                        bañado con un poco de salsa teriyaki y un toque de ajonjolí.</p>
                    <h2>Shake Kawa Spicy Roll 8 pz</h2>
                    <p>Arroz por fuera, relleno de aguacate, pepino, queso crema y Coronado con Spicy Shake Kawa
                        (chicharrón de piel de salmón spicy).</p>
                </div>
            </div>

            <section class="background-adj-batidos"></section>

            <div class="allBebidas">
                <h2>Sin alcohol</h2>
            </div>

            <div>
                <div>
                    <h2>Cafeteria</h2>
                    <p>Americano</p>
                    <p>Cortado</p>
                    <p>Chocolatada</p>
                </div>
                <div>
                    <h2>Te herbales japonesas</h2>
                </div>
                <div>
                    <h2>Licuados</h2>
                    <p>Jugos naturales exprimidos de naranja, anana, jamaica, durazno, manzana | $100 al agua |
                        $120
                        con leche </p>
                </div>
                <div>
                    <h2>Gaseosas</h2>
                    <p>Toda la linea Coca-cola</p>
                </div>
            </div>

            <section class="background-adj-cocktails"></section>
            <div>
                <h2>Con alcohol</h2>
            </div>
            <div>
                <div>
                    <h2>Cervezas</h2>
                    <p>Tekate y Tekate light</p>
                    <p>Modelo</p>
                    <p>XXX Lager</p>
                    <p>Indio</p>
                    <h2>Cocktails</h2>
                    <p>Margarita, Tequila blanco, Licor seco de naranja y jugo de limon</p>
                    <p>Negroni, Campari, ginebra y vermut rojo </p>
                    <p>Mojito, azucar blanco, hierbabuena, jugo de limon, ron cubano, soda y unas goas de
                        angostura
                    </p>
                    <p>Gin tonic, ginebra, Agua tonica, y bayas de enebro</p>
                </div>
            </div>
        </section>
    </main>

    <div class="container">
        <footer class="py-3 my-4">
          <ul class="nav justify-content-center border-bottom pb-3 mb-3">
            <li class="nav-item"><a href="../view/home.html" class="nav-link px-2 text-body-secondary">Home</a></li>
            <li class="nav-item"><a href="nosotros.html" class="nav-link px-2 text-body-secondary">Nosotros</a></li>
            <li class="nav-item"><a href="menu.html" class="nav-link px-2 text-body-secondary">Menu</a></li>
            <li class="nav-item"><a href="tienda.html" class="nav-link px-2 text-body-secondary">Tienda</a></li>
            <li class="nav-item"><a href="contactanos.html" class="nav-link px-2 text-body-secondary">Contactanos</a></li>
          </ul>
          <p class="text-center text-body-secondary">&copy; 2023 TAKOPON, Inc</p>
        </footer>
      </div>

    <!-- BS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
</body>

</html>